@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --tarjeta: rgb(235, 235, 235);
    --fuente: #272424;
    --bgBtn: #5053fa;
    --bgInput: #d6dbe2; 
}

body{
    background: #1c88e0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1c88e0, #4f4ff3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1c88e0, #4f4ff3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

*{
    font-family: 'Inter', sans-serif;
}

#login{
    background-color: var(--tarjeta);
    padding: 3em;
    border: none;
    border-radius: 1em;
    margin: auto;
    width: fit-content;
    margin-top: 4em;
    box-shadow: 2px 3px 5px;
    color: var(--bgBtn);
}

input{
    border: none;
    padding: .8em;
    margin-bottom: 1em;
    font-size: 1em;
    border-radius: 0.4em;
    background-color: var(--bgInput);
}

h1{
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

input[type="submit"]{
    width: 100%;
    background-color: var(--bgBtn);
    color: var(--bgInput);
}

input[type="submit"]:hover{
    background-color: #294dec;
    color: white;
    transition: 0.4s;
}

a{
    text-decoration: none;
    color: var(--bgBtn);
}

a:hover{
    color: #333333;
    transition: 0.3s;
}

legend{
    font-size: .9em;
    color: var(--fuente);
}

p{
    text-align: center;
}

p a{
    color: #858585;
}