@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --tarjeta: rgb(242, 243, 247);
    --fuente: #3f3f3f;
    --bgBtn: #ffffff;
}

body{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

*{
    font-family: 'Inter', sans-serif;
}

h3{
    text-align: center;
    color: var(--bgBtn);
}

table{
    background-color: #f8f3f3;
    color: var(--fuente);
    width: fit-content;
    margin: auto;
    text-align: center;
}

.titulo{
    width: 30%;
    font-weight: 600;
    padding: .7em;
    text-align: center;
    background-color: var(--fuente);
    color: var(--bgBtn);
}

.fila{
    background-color: #e9e9e9;
}

a{
    text-decoration: none;
}